@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --smurf-primary: #00d7ff;
  --smurf-secondary: #88CCFF;
  --smurf-dark: #0055aa;
}

html,
body {
  @apply bg-slate-900 text-white overflow-x-hidden;
  background: radial-gradient(circle at top left, #1e293b, #0f172a);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-smurf-primary/50 rounded-full hover:bg-smurf-primary;
}

.bg-space-gradient {
  background: linear-gradient(135deg, #0a0a14 0%, #1a1a2e 100%);
}